{% extends "learn/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<p><small>Posted on {{ post.created_at }} by {{ post.author }}</small></p>
<div class="row mt-4 align-items-start">
    <!-- LEFT SIDE — IMAGE -->
    <div class="col-md-5 mb-3">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="img-fluid rounded shadow-sm"
            style="object-fit: cover; width: 100%; max-height: 350px;">
        {% endif %}
    </div>

    <!-- RIGHT SIDE — CONTENT -->
    <div class="col-md-7">
        <div class="fs-5 lh-lg" style="line-height: 1.8;">
            {{ post.content|safe|linebreaksbr }}
        </div>
    </div>
</div>
<hr>

<h3>Comments ({{ comments.count }})</h3>

{% for comment in comments %}
  <div style="border:1px solid #ddd; padding:10px; margin-bottom:10px;">
      <strong>{{ comment.user.username }}</strong><br>
      {{ comment.content }}
  </div>
{% empty %}
  <p>No comments yet.</p>
{% endfor %}
<h4>Add a Comment</h4>

{% if user.is_authenticated %}
<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        {{ comment_form.content }}
    </div>

    <button type="submit" class="btn btn-primary mt-2">
        Post Comment
    </button>
</form>
{% else %}
<p>
    Please <a href="{% url 'login' %}">login</a> to comment.
</p>
{% endif %}
{% endblock %}